<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IOSVideoPlayerStyle</key>
	<string>VideoWidgetViewer</string>
	<key>IPadDatePickerStyle</key>
	<string>MSICalendarWidgetViewer</string>
	<key>I2IFxPortStyle</key>
	<string>I2IFxPort</string>
	<key>I2IFxMoveStyle</key>
	<string>I2IFxMove</string>
	<key>I2IGraphStyle</key>
	<string>I2IGraphH</string>
	<key>I2IGraphVStyle</key>
	<string>I2IGraphV</string>
	<key>I2IFxGraphStyle</key>
	<string>I2IFxGraph</string>
	<key>I2IFxGridStyle</key>
	<string>I2IFxGrid</string>
	<key>DynamicTextStyle</key>
	<string>I2IDynamicText</string>
	<key>I2IScenarioControllerStyle</key>
	<string>I2IScenarioControl</string>
	<key>I2IIEGraphStyle</key>
	<string>IntExpenseGraph</string>
	<key>I2ICaptureStyle</key>
	<string>I2ICaptureScreen</string>
	<key>I2IEmailStyle</key>
	<string>I2IEmailScreen</string>
	<key>I2ICustomDisableLabelStyle</key>
	<string>I2ICustomDisableLabel</string>
	<key>I2ICustomURLStyle</key>
	<string>I2ICustomURL</string>
	<key>I2ICustomBackStyle</key>
	<string>I2ICustomBack</string>
	<key>I2IWaterFallStyle</key>
	<string>I2IWaterFall</string>
	<key>I2IWFExtendedStyle</key>
	<string>I2IWFExtended</string>
	<key>I2IWFColouredStyle</key>
	<string>I2IWFColored</string>
	<key>I2IWFColoredLabelsStyle</key>
	<string>I2IWFColoredLabels</string>
	<key>I2IControllerStyle</key>
	<string>I2IController</string>
	<key>I2IVGControllerStyle</key>
	<string>I2IVGController</string>
	<key>I2IInitialisationStyle</key>
	<string>Initialisation</string>
	<key>IPadGraphMatrix2Style</key>
	<string>GraphMatrixWidgetViewer2</string>
	<key>IPadHeatMapStyle</key>
	<string>HeatMapWidgetViewer</string>
	<key>IPadInteractiveGridStyle</key>
	<string>MSMGridWidgetViewer</string>
	<key>IPadMapStyle</key>
	<string>MSIMapWidgetViewer</string>
	<key>IPadMicroChartsStyle</key>
	<string>MicroChartsWidgetViewer</string>
	<key>IPadRssStyle</key>
	<string>MSMRssWidget</string>
	<key>IPadTimeSeriesStyle</key>
	<string>TimeSeriesWidgetViewer</string>
	<key>IPadTimeLineWidgetStyle</key>
	<string>MSMTimeLineWidgetViewer</string>
	<key>IPadMediaStyle</key>
	<string>MediaWidgetViewer</string>
	<key>IPhoneImageMapStyle</key>
	<string>ImageMapWidgetViewer</string>
	<key>IPhoneImageViewerStyle</key>
	<string>ImageViewerWidget</string>
	<key>IPhoneInteractiveGridStyle</key>
	<string>MSMGridWidgetViewer</string>
	<key>IPhoneMapStyle</key>
	<string>MSIMapWidgetViewer</string>
	<key>IPhonePhotoUploaderStyle</key>
	<string>ImageUploaderWidgetView</string>
	<key>IPhoneRingChartStyle</key>
	<string>RingChartWidgetViewer</string>
	<key>IPhoneDataCloud</key>
	<string>DataCloudViewController</string>
	<key>IPadDataCloud</key>
	<string>DataCloudViewController</string>
	<key>IPhoneRssStyle</key>
	<string>MSMRssWidget</string>
	<key>IPhoneSimpleReportDisplayStyle</key>
	<string>MISampleWidget</string>
	<key>IPhoneTimeSeriesStyle</key>
	<string>TimeSeriesWidgetViewer</string>
	<key>IPhoneMediaStyle</key>
	<string>MediaWidgetViewer</string>
	<key>IPhoneNetVizStyle</key>
	<string>NetVisWidget</string>
	<key>IPadSurveyStyle</key>
	<string>SurveyWidgetViewer</string>
	<key>SurveyVisualizationStyle</key>
	<string>SurveyWidgetViewer</string>
	<key>CiscoUCInfoWindowStyle</key>
	<string>CiscoUCInfoWindowWidget</string>
	<key>CiscoUCInlineStyle</key>
	<string>CiscoUCWidget</string>
	<key>ViEsriMapAdapter</key>
	<string>ESRIMapWidgetViewerAdapter</string>
	<key>IPadTreeStyle</key>
	<string>MSITreeWidgetViewer</string>
	<key>VisualizationStyleName</key>
	<dict>
		<key>iPad</key>
		<string>SubClassof UIView</string>
		<key>iPhone</key>
		<string>SubClassOf UIView</string>
	</dict>
</dict>
</plist>
